@media (min-width:321px)  {
    .little_font{
        font-size: 11px;
    }
    .small_font{
        font-size: 14px;
    }
    .large_font{
        font-size: 36px;
    }
}
@media (min-width:376px) {
    .little_font{
        font-size: 13px;
    }
    .small_font{
        font-size: 16px;
    }
    .large_font{
        font-size: 42px;
    }
}